<div id="<%= dom_id content %>">
  <p>
    <strong>Title:</strong>
    <%= content.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= content.description %>
  </p>

  <p>
    <strong>Age group:</strong>
    <%= content.age_group %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= content.organization.name %>
  </p>

</div>
